#route-main {
	background-color: #3b3830;
	min-height: 200px;
}

#route-icon {
	width: 66px;
	height: 66px;
	border-radius: 33px;
	border: 4px solid white;
	float: left;
	clear: left;
		margin-top: 21px;
}

#route-title-holder {
	float: left;
	height: 66px;
	margin-left: 20px;
	margin-top: 20px;
}

#page-title-text {
	line-height: 24px; 
	margin-top: 5px;

}

#page-subtitle-text {
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: 5px;
	clear: left;
}

.route-triangle {
font-size: .7em;
position: relative;
top: -2px;

}

#breadcrumbs {
	.route-triangle {
	top: 0px; 
	}
}
#route-selector {
	position: absolute;
	right: 20px;
	top: 20px;
	display: none;
}

#route-pdf-link {
	position:absolute;
	right: 20px;
	bottom: 10px;
	
	text-align: right;
	line-height: 45px;

	
	a:link, a:visited, a:active, a:hover {
		color: saturate(lighten($link-color,35),10);

		
		i {
		background-image: url(../images/yarts-sprites.png);
		background-position: -511px -11px;
		float: right;
		width: 30px;
		height: 40px;
		margin-left: 8px;
		position: relative;
		top: -1px;
	
		}
	}
	
	a:hover {
		text-decoration: underline;
		
		i {
		background-position: -548px -11px;
		
		}
	}
	
	
	
}

#destinations-served {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 20px;
}

#destinations-served,
#service-days 
 {
	float: left;
	clear: left;
	font-weight: 600;
}


#route-title-info-separator {
	width: 30%;
	border-color: darken(#605e5a, 10);
	float: left;
	clear: left;
	border-right: 0;
}

#service-days 
 {
	border-right: 1px solid rgba(255,255,255,.5);
	padding-right: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


#effective_dates
 {
float: left;

}


#route-main {
	padding: 20px;
	position: relative;
	
	
	
}

#route-main-col-left,
#route-main-col-right {

}

#route-main-col-left{
	float: left;
	width: 64%;
	margin-right: 20px;
}
#route-main-col-right  {
	width: 34%;
float: left;
}

#route-detail-map {

	
	img {
		
		width: 100%;
		height: auto; 
		cursor: pointer;
	}
}

#route-detail-map.wide-view {
	clear: both;
	img {
	
    width: 100%;

	position: absolute;
	top: 20px;
	left: 0;
	}
}

.route-box {
	background: #e7d6c5;
	min-height: 100px;
	margin-bottom: 20px;
	h2 {
		background-color: #cac0a5;
		border-bottom: 1px solid #33302c;
		margin-top: 0;
		margin-bottom: 0;
		padding: 6px;
		font-size: 17px;
		color: black;
		span {
			font-size: .7em;
		}
	}
}

.route-box-shadow {
	-webkit-box-shadow: 0px 3px 4px 0px rgba(41, 39, 33, 1);
	-moz-box-shadow:    0px 3px 4px 0px rgba(41, 39, 33, 1);
	box-shadow:         0px 3px 4px 0px rgba(41, 39, 33, 1);
}

#route-alert-holder {
	background-color: #edbc38;
	color: black;
	margin-bottom: 20px;
	#alert-title{
		i {
			background-image: url(../images/yarts-sprites.png);
			background-position: -476px -13px;
			width: 27px;
			height: 24px;
			float: left;
			position: relative; 
			top: 8px;
			margin-right: 7px;
			margin-left: 2px;
		}
		font-size:23px;
		font-weight: 300;
		padding: 10px;
		cursor: pointer;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	#route-alert-content { 
		display: none;
	}
	
	#route-alert-content {
		background-color: lighten(#e3a11f, 10);
		border-top: 1px solid #e3a11f;
		padding: 10px;
		
		p:first-of-type {
			padding-top: 0;
			margin-top: 0;
		}
	}
	
	#route-alert-expander {
		text-align: center;
		text-transform: uppercase;
		background-color: #e3a11f;
		position: relative;
		line-height: 25px;
		cursor: pointer;
		font-size: 12px;
	}
	
	.alert-expand-line {
		display: inline;
		position: absolute;
		width: 25%;
		height: 1px;
		border-bottom: 1px solid #636363;
	}
	$exandertop: 13px;
	
	.alert-expand-line.left {
		left: 2.5%;
		top: $exandertop;
		
	}
	.alert-expand-line.right {
		right: 2.5%;
		top: $exandertop;
	}
	
	.expand-triangle {
		font-size: .7em;
		position: relative;
		top: -1px;
	}
}

#schedule-box  {
	.interior {
		padding: 6px;
	}
}

#route-schedule-info {
color: #403a35;
margin-left: 10px;
position: relative;
width: 100%;

	#holiday-link {
		position: absolute;
		right: 10%;
		top: 10px;
		
		a:link, a:active, a:visited {
			color: #255b8d;
		}
	}

	li {
		margin-bottom: 5px;
	}
}

#route-timetable-links-holder {
	ul {
		margin-bottom: 0;
		li {
			color: #413c32; 
			text-align: center;
			
			border-top: 6px solid #f5eacc;
			border-right: 6px solid #d4c2a4;
			border-left: 6px solid #d4c2a4;
			border-bottom: 6px solid #ccba9c;
			background-color:#ecdbbd;
			height: 104px;
		
			margin: 6px;
			cursor: pointer;
			
			.route-timetable-title {
			 font-weight: bold;
			 text-transform: uppercase;
			 margin-top: 8px;
			}
			.route-timetable-trips {
				margin-top: 4px;
				font-size: .9em;
			}
			
		}
		li:hover {
			background: lighten(#ecdbbd, 5);
			
		}
	
	}

}

#fares-box {
	color: #413c32; 
	.interior {
		padding: 15px;
	}
}

#route-connections-interior {
padding: 20px;
padding-top:0;
color: #413c32; 

	.connection-description {
		padding-left: 15px;
		padding-bottom: 5px;
	}
} 

#route-connections-blurb {
margin-top: 10px;
border-bottom: 1px solid grey;
padding-bottom: 10px;
}