#top-title-area {
	background: rgba(0,0,0,.5);
	min-height: 100px; 
	color: white;
	padding: 10px 24px;
	border-top: 5px solid black;
	position: relative;
}  

#breadcrumbs {
	
	float: left;
	border-radius: 4px;
	
	margin:0;
	padding: 0;
	padding: 3px;
	color: #A8D5A5;

		font-size: .88em;
	a {
		
		color: #A8D5A5;


		text-shadow: 0px 0px 2px rgba(0,0,0, 1);
		a:link, a:active, a:visited, a:hover {
			color: #A8D5A5;
			text-decoration: underline;
			
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

#page-title-text {

	text-transform: uppercase;
	color: white;
	font-weight: 600;
	letter-spacing: 5px;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.28);
}

.subpage {

#top-title-area {
	border-bottom: 4px solid black;
}

#featured-image-container {
	img {
		width: 100%;
		border: 3px solid tan;

	}
}

	#route-title-holder {
		clear: left;
		margin-left: 0;
		height: 48px;
	}
	
	#subpage-left-col {
		width: 70%;
		float: left;
		margin-right: 20px; 
	}
	#subpage-right-col {
		width: 28%;
		float: left;
	}
	
	 #subpage-alerts-holder {
		h2 { 
				i {
			background-image: url(../images/yarts-sprites.png);
			background-position: -476px -55px;
			width: 27px;
			height: 24px;
			float: left;
			position: relative; 
			top: 5px;
			margin-right: 2px;
			margin-left: 2px;
		}
			}
	}
	
	#subpage-news-holder, #subpage-alerts-holder {
		ul {
			margin-top: 5px;
			margin-bottom: 0;
		}
		a:link {
			text-decoration: none;
		}
	}
	
	a:link#home-contact-us,a:active#home-contact-us,a:visited#home-contact-us {
		background: #acd373;
		border: 3px solid #e0eeca;
		color:#426747;
		padding: 8px;
		text-decoration: none;
		border-radius: 4px;
		float: left;
		font-weight: 600;
	}
	
	.interior {
		padding: 20px;
		padding-top: 15px;
		
		font-size: .9em;
		
		
		h3:first-of-type {
			margin-top: 0px;
		}	
	}
	
	a.subpage-see-all {
		float: left;
		margin: 5px;
	}
	
	#subpage-news-holder, #subpage-alerts-holder {
		a.subpage-see-all:hover {
			text-decoration: underline;
		}
	}
	
	
	
	a:hover#home-contact-us {
		background: lighten(#acd373,10);
	}
	
	.home-news-outer,.home-alerts-outer {
		padding: 5px;
		font-size: .9em;
		border-bottom: 1px solid darken(#e7d6c5, 10);
		a:link {
			text-decoration: none;
		}
	}
	
	.home-news-outer:hover,.home-alerts-outer:hover { 
		background:  lighten(#e7d6c5, 10); 
		cursor: pointer;
	}

}




.main-subpage-top-menu {  
	position: absolute;
	width: 100%;
	top: 0; 
	z-index: 10;
		
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

$rimheight: 53px;
.interior {
	#center-wood-base {
		width: 500px;
		margin: 0 auto;
		height: $rimheight;
		background-image: url(../images/wood-wide-thin.jpg);
	}
	#left-wood-base {
		position: absolute;
		left: 0;
		top: 0;
		height: $rimheight;
		width: 700px;
		background-image: url(../images/wood-wide-left-corner.png);
		background-position: left 0;
	} 
	#right-wood-base {
		position: absolute;
		right: 0;
		top: 0;
		height: $rimheight;
		width: 700px;
		background-image: url(../images/wood-wide-right-corner.png);
		background-position: right 0;
	}
}

.main-subpage-top-menu { 
	.nav {
	
		li {
			border-right: 1px solid rgba(0,0,0,.4);
			padding-left: 0;
			margin-top: 7px;
			
		}
		li:hover {
			background: rgba(0,0,0,.1);
		}
		li.menu-item-home {
			margin-left: 15px;
			border-left: 1px solid rgba(0,0,0,.4); 
		}
		 i {
			float: left;
			background-image: url(../images/yarts-sprites.png);
			width: 32px;
			height: 32px;
			margin-right: 3px;
			position: relative;
			top: -2px;
		 }
		 
		
	 
	 	$subpage-bg-y: -320px;
	 	$subpage-bg-y-hover: -369px;
	 
		 a:link,a:visited, a:active{
		 	padding-left: 3px;
		 	padding-right: 8px;
			i.routes-schedules {
				background-position: -13px $subpage-bg-y;
				margin-left: 2px;
			}
			i.travel-reviews {
				background-position: -47px $subpage-bg-y;
			}
			i.tickets-fares {
				background-position: -83px $subpage-bg-y;
			}
			i.how-to-ride {
				background-position: -154px $subpage-bg-y;
			}
			i.travel-connections {
				
				background-position: -126px -316px;
				top:-5px;
				height: 34px;
			}
			i.holidays-calendar {
				background-position: -190px $subpage-bg-y;
			}
			i.home{
				background-position: -251px $subpage-bg-y;
				margin-right: 5px;
				
			}
		 }
		 a:hover {
			color: lighten(#b5d18a,10); 
			 i.routes-schedules {
				background-position: -13px $subpage-bg-y-hover;
			 }
			 i.travel-reviews {
				background-position: -47px $subpage-bg-y-hover;
			}
			i.tickets-fares {
				background-position: -83px $subpage-bg-y-hover;
			}
			i.how-to-ride {
				background-position: -154px $subpage-bg-y-hover;
			}
			i.travel-connections {
				background-position: -126px -365px;
				top:-5px;
				height: 34px;
			}
			i.holidays-calendar {
				background-position: -190px $subpage-bg-y-hover;
			}
			i.home{
				background-position: -251px $subpage-bg-y-hover;
			}
		 }
	}
}

.single-alert {
	#page-title-text {
		i {
			background-image: url(../images/yarts-sprites.png);
			background-position: -476px -13px;
			width: 27px;
			height: 24px;
			float: left;
			position: relative; 
			top: 4px;
			margin-right: 7px;
			margin-left: 2px;
		}
	}
}


#subpage-main-content-panel {
	border-top: 3px solid tan;
	.interior h3, .interior h2 {
		background: #dac2ac;
		padding: 10px;
		border: 0;
		margin-top: 10px;
	}
	.interior h3:first-of-type, .interior h2:first-of-type {
	
		margin-top: 0px;
	}
	.interior {
		line-height: 1.7em;
	}	
}

.interior {
	color: black;
}

#subpage-top-links {
	#subpage-link-title {
		float: left;
		padding-top: 28px;
		margin-left: 20px;
	}
	ul {
				float: left;
				
		li {
				float: left;
				padding:7px 10px;
				font-size: .9em;
				
				border-left: 1px solid rgba(0,0,0,.4);
		}
		li:first-of-type {
			border-left: 0;
		}
	}
}

#subpage-top-parent-link {
padding: 20px;
border-bottom: rgba(0,0,0,.1) solid 1px;
}
#subpage-top-links {
	border-bottom: rgba(0,0,0,.1) solid 1px;
}


.page {
table {
	margin-top: 15px;
}
	table,caption {
	background: white;
	box-shadow: 0px 2px 5px rgba(0,0,0,.5);
	tr:hover {
		background-color: lighten(#dae4bb,10);
	}
		th {
			background-color: #dae4bb;
		}
	
	}
	caption {
		border: 1px solid black;
		border-bottom: 0;
		font-size: 1.3em;
		font-weight: bold;
		padding:10px;


	}
}
