/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1240px;
}

#top-home {
#promo-box {
		display: inherit;
	}
	#map-box {
			width: 64.5%; //504/1533 
		}
}

#home-middle-col-1 {
	width: 32.8%; //504/1533 
}

#middle-home {
	
	
	#home-middle-col-1 {
	
	}
	#home-middle-col-2 {
	width: 30.5%;
	
	}
	#home-middle-col-3 {
		width: 30.5%;
	
	}
}

#home-facebook:link,#home-facebook:visited,#home-facebook:active {
		
		margin-left: 20px;
	}
	
#home-middle-col-3 {
#home-featured-image {
		margin-top: 50px;
	}
	#promo-box {
		display: none;
	}
	
	#promo-box-quote-narrow {
		display: none;
	}
}


.main-subpage-top-menu { 
	.nav {
	
		li {
		font-size: 16px;
			padding-left: 8px;	
			padding-right: 8px;		
		}
		
	}
}

#page-title-text {
	font-size: 35px;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	letter-spacing: 5px;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.28);
}
#more-info {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	cursor: pointer;
	#more-info-links {
	position: absolute;
		top: -99999px;
	li {
		
		clear: left;
	}
	}
	
	
	
}

#more-info:hover { 
	color: lighten(#b5d18a,10);
	position: relative; 
	#more-info-links {
		top: 0px;
		li {
		

		}
	}
}

#route-timetable-links-holder {
	ul {
		li {
			width: 46.6%;
			float: left;
			clear: none;
			
		}
		li:hover {
			
			
		}
	
	}

}